<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <title>Title</title>
    <style>
        body{
        <!--background:url('/static/2.jpg');-->

        }
        .img1{
        width:200px;
        heigth:200px;

        }
        .media-object{
                width:200px;
        heigth:200px;
        }

        <!--.zufang_content{-->
        <!--text-align:center;-->
        <!--}-->

        .media-left{
        margin-left:30%;
        }

        .media-body{
        margin-left:30px;
        }
        .touxiang{
        margin-left:30%;


        }
        .img-1circle{
        width:60px; height:60px; border-radius:50%; overflow:hidden;
        }
        #touxiang{
 width:60px; height:60px; border-radius:50%; overflow:hidden;
        }




.fl {
    float: left;
    display: inline;
}

.page_fenye{
text-align:center;
}






    

    </style>
</head>
<body>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="img1" src="/static/fang1.jpeg" alt="...">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default"
                                                                                   role="button">Button</a></p>
            </div>
        </div>
    </div>
</div>
<!--{{1.title}}{{2.title}}-->

<!--{%for i in '12345'|make_list%}-->
<!--{%endfor%}-->


{%for i in aaa%}

<div class="zufang_content">
    <div class="media">
        <div class="media-left">
            <a href="#">
                <!--<img class="media-object" src="/static/fang1.jpeg" alt="...">-->
                <img class="media-object" src="{{i.img}}" alt="...">
            </a>
        </div>
        <div class="media-body">

            <a href=""><h4 class="media-heading">{{i.title}}</h4></a>
            <label><p class="text-muted">价格：{{i.month_money}}/月 &nbsp;&nbsp; &nbsp;&nbsp; 面积：{{i.mianji}}&nbsp;&nbsp;&nbsp;&nbsp; 位置：宝景花园
                &nbsp;&nbsp;&nbsp;&nbsp;郑州管城区</p>
            </label>

            <!--<div class="touxiang"><img src="/static/background.jpg" alt="..." class="img-1circle" align="left">&nbsp;&nbsp;   张三 <br>  &nbsp;1333333333-->

            <!--</div>-->
            <div>
                <img src="/static/background.jpg" id="touxiang" class="fl sp-icon-list" alt="绿色">
                <span class="fl">&nbsp;&nbsp;张三 </span>
                <br>
                <span>&nbsp;&nbsp;13333333333</span>
            </div>

        </div>
    </div>
</div>
<br><br>

{{forloop.counter}}
{%endfor%}


<nav>
  <ul class="pagination pagination-lg">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li><a href="{%url 'onepage' 2%}">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>

{% for contact in contacts %}
    {# Each "contact" is a Contact model object. #}
    {{ contact.full_name|upper }}<br />
    ...
{% endfor %}

<div class="page_fenye">
    <span class="step-links"style="color:black;font-size:30px">
        {% if contacts.has_previous %}
            <a href="{%url 'onepage' 1%}">首页</a>
        {% endif %}

        <span class="current">
            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}
        </span>

        {% if contacts.has_next %}
            <a href="?page={{ contacts.next_page_number }}">下一页</a>
        {% endif %}
    </span>
</div>



<!--<div class="zufang_content">-->
    <!--<div class="media">-->
        <!--<div class="media-left">-->
            <!--<a href="#">-->
                <!--<img class="media-object" src="/static/fang1.jpeg" alt="...">-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="media-body">-->

            <!--<a href=""><h4 class="media-heading">单间出租)航海路 未来路 宝景花园 出门公交站 旁有小吃街 交通方便</h4></a>-->
            <!--<label><p class="text-muted">价格：1000/月 &nbsp;&nbsp; &nbsp;&nbsp; 面积：60平&nbsp;&nbsp;&nbsp;&nbsp; 位置：宝景花园-->
                <!--&nbsp;&nbsp;&nbsp;&nbsp;郑州管城区</p>-->
            <!--</label>-->

            <!--&lt;!&ndash;<div class="touxiang"><img src="/static/background.jpg" alt="..." class="img-1circle" align="left">&nbsp;&nbsp;   张三 <br>  &nbsp;1333333333&ndash;&gt;-->

            <!--&lt;!&ndash;</div>&ndash;&gt;-->


            <!--<div>-->
                <!--<img src="/static/background.jpg" id="touxiang" class="fl sp-icon-list" alt="绿色">-->
                <!--<span class="fl">&nbsp;&nbsp;张三 </span>-->
                <!--<br>-->
                <!--<span>&nbsp;&nbsp;13333333333</span>-->
            <!--</div>-->


        <!--</div>-->
    <!--</div>-->
    <!--</div>-->
</body>
</html>